.layout-sticky-subnav .mdk-header-layout {
    overflow: initial;
}
.mdk-drawer-layout, .mdk-header-layout, .page-content {
    flex: 1 1 0%;
}
.mdk-header-layout, .page-content, body {
    display: flex;
    flex-direction: column;
}
.mdk-header-layout {
    overflow: visible;
}
.mdk-header-layout {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.box__bg {
    position: relative;
    width: 100%;
    height: 300px; /* Set the desired height for the container */
  }
  
  .box__bg-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://luma.humatheme.com/public/images/photodune-4161018-group-of-students-m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
:after, :before {
    box-sizing: border-box;
}
.mdk-header :last-child {
    margin-bottom: 0;
}
.layout-sticky-subnav .page__container {
    z-index: 0;
    position: relative;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .page__container, [dir=rtl] .container, [dir=rtl] .container-fluid, [dir=rtl] .container-lg, [dir=rtl] .container-md, [dir=rtl] .container-sm, [dir=rtl] .container-xl, [dir=rtl] .page__container {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.no-link {
    color: inherit; /* or color: initial; */
    text-decoration: none;
  }
.no-link {
    text-decoration: none;
    color: #272c33;
  }
.webkit-any-link {
    color: black;
}
.text-center {
    text-align: center!important;
}
.pb-112pt, .py-112pt {
    padding-bottom: 7rem!important;
}
.pt-112pt, .py-112pt {
    padding-top: 7rem!important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, [dir=rtl] .container, [dir=rtl] .container-fluid, [dir=rtl] .container-lg, [dir=rtl] .container-md, [dir=rtl] .container-sm, [dir=rtl] .container-xl {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}
.text-shadow {
    text-shadow: rgba(39,44,51,.2) 0 9px 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-white {
    color:white!important;
}
.h1, .h2, h1, h2 {
    line-height: 1.5;
}
.h1, h1 {
    font-size: 2.827rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #303840;
}
*, :after, :before {
    box-sizing: border-box;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-white {
    background-color: #b4b6c5;
    border-color: #a3a5b5;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15), 0 1px 1px rgba(39,44,51,.075);
}
.mb-16pt {
    margin-bottom: 1rem!important;
}
.btn-lg {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}
.btn {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn-white {
    color: #212529;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.btn-group-lg>.btn, .btn-lg {
    font-size: 1.21875rem;
    line-height: 1.75;
}
.btn {
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    font-weight: 600;
    vertical-align: middle;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
*, :after, :before {
    box-sizing: border-box;
}

.bg-primary {
    background-color: #5567ff!important;
}
.rounded-circle {
    border-radius: 50%!important;
}

.backgroundImage {
    background-Image: url(https://luma.humatheme.com/public/images/photodune-4161018-group-of-students-m.jpg);
    transform: translate3d(0px, 0px, 0px);
    margin-top: -272.075px;
}
.mdk-header__bg-front {
    background-position: 50%;
}
 .mdk-header__bg-front,  .mdk-header__bg-rear,.mdk-header__bg-front, .mdk-header__bg-rear {
    right: 0;
    left: 0;
}
.mdk-header__bg-front, .mdk-header__bg-rear {
    background-size: cover;
}
.mdk-header__bg-front, .mdk-header__bg-rear {
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
*, :after, :before {
    box-sizing: border-box;
}
.posts-card-popular__content {
    left: 0;
}
.posts-card-popular__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
.card, .card-nav .tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.avatar-group .avatar-img, .avatar-group .avatar-title {
    border: 2px solid #fff;
}
.rounded-circle {
    border-radius: 50%!important;
}
.avatar-img {
    width: 10%;
    height: 10%;
    object-fit: cover;
}
.img {
    vertical-align: middle;
}
 :after, :before {
    box-sizing: border-box;
}

.img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.posts-card-popular .card-title, .posts-card-popular a {
    color: #fff;
}
.posts-card-popular__content {
    left: 0;
}
.posts-card-popular__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
.card, .card-nav .tab-content {
    word-wrap: break-word;
}
.col-lg-4,.col-md-6{
    padding-right: 12px;
    padding-left: 12px;
}
.card-group-row__col {
    display: flex;
    min-width: 0;
}
.col-lg-4,.col-md-6{
    position: relative;
    width: 100%;
}
.posts-card-popular__title .text-muted {
    color: hsla(0,0%,100%,.54)!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
small {
    line-height: 1.5;
}
small {
    font-size: .8125rem;
    font-weight: 400;
}
.card-title:last-child {
    margin-bottom: 0;
}
.posts-card-popular .card-title, .posts-card-popular a {
    color: #fff;
}
.card-title{
    display: flex;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.card-title {
    font-weight: 500;
}
.card-title {
    font-size: 1rem;
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    line-height: 1.25;
}
*, :after, :before {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: pointer;
}
.card {
    word-wrap: break-word;
}
.page-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.border-bottom-2 {
    border-bottom: 2px solid #e9edf2!important;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
 body {
    text-align: left;
}
body {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #272c33;
}
.border-bottom-2 {
    border-bottom: 2px solid #e9edf2!important;
}
.bg-white {
    background-color: #fff!important;
}
.pb-16pt, .py-16pt {
    padding-bottom: 1rem!important;
}
.pt-16pt, .py-16pt {
    padding-top: 1rem!important;
}
*, :after, :before {
    box-sizing: border-box;
}
div {
    display: block;
}
.page-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.border-bottom-2 {
    border-bottom: 2px solid #e9edf2!important;
}
 body {
    text-align: left;
}
.page-separator {
    position: relative;
    color: #868e96;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 0;
}
 .page-separator__text {
    padding-right: 0.5rem;
}
.page-separator__text {
    border-radius: 0.25rem;
    background-color: #f5f7fa;
}
 .posts-card-popular__content {
    left: 0;
}
.posts-card-popular__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
.card, .card-nav .tab-content {
    word-wrap: break-word;
}
 body {
    text-align: left;
}
a.card-title:last-child {
    margin-bottom: 0;
}
.posts-card-popular .card-title, .posts-card-popular a {
    color: #fff;
}
.card-title[href], .card-title a {
    display: flex;
    text-decoration: none;
}
 a {
    background-color: transparent;
}
a.card-title {
    font-weight: 500;
}
.card-title {
    font-size: 1rem;
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    line-height: 1.25;
}
*, :after, :before {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: pointer;

}
 .mr-1,  .mx-1 {
    margin-right: 0.25rem!important;
}
 .material-icons {
    direction: ltr;
}
.material-icons {
    vertical-align: middle;
}
.material-icons {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-family: 0.5px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    color: #fff;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}
.small, small {
    line-height: 1.5;
}
.small, small {
    font-size: .8125rem;
    font-weight: 400;
}
