.Sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: rgba(66, 95, 174, 0.745);
  
    .top {
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .Logo {
        font-size: 20px;
        font-weight: bold;
        color: #4a25cc;
      }
    }
  
    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }
  
    .center {
      padding-left: 10px;
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        .Title {
          font-size: 12px;
          font-weight: bold;
          color: rgb(198, 195, 195);
          margin-top: 15px;
          margin-bottom: 5px;
        }
  
        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: #4d3aa7b2;
          }
  
          .Icon {
            font-size: 25px;
            color: #4822cf;
          }
  
          span{
            align-items: center;
            font-size: 15px;
            font-weight: 600;
            color: #ffffff;
            margin-left: 10px;
          }
        }
      }
    }
  }