

.mdk-header :last-child {
  margin-bottom: 0;
}
.navbar-dark-pickled-bluewood {
  background: #303956;
}
.navbar-shadow {
  box-shadow: 0 6px 6px -3px rgba(39,44,51,.1), 0 10px 14px 1px rgba(39,44,51,.04), 0 4px 18px 3px rgba(39,44,51,.02);
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.mdk-header--fixed {
  left: 0;
}
.mdk-header--fixed {
  margin-bottom: 0;
}
.mdk-header [data-primary] {
  z-index: 1;
}
.navbar {
  padding: 0.5rem 1rem;
}
.navbar {
  min-height: 64px;
}
.mdk-header--fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
:after, :before {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}
.navbar-dark-pickled-bluewood{
  padding-top: 0%;
}
.navbar-dark-pickled-bluewood .navbar-toggler {
  border-color: hsla(0,0%,100%,.1);
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}
.navbar-dark-pickled-bluewood .navbar-toggler {
  color: hsla(0,0%,100%,.7);
}
.navbar-toggler {
  border: none;
  padding: 0;
  text-align: center;
}
.mr-16pt, .mx-16pt {
  margin-right: 1rem!important;
}
.rounded-0 {
  border-radius: 0!important;
}
.navbar-expand .navbar-toggler {
  display: none;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
button, input, optgroup, select, textarea {
  margin: 0;
}
button {
  border-radius: 0;
}
.navbar-toggler {
  width: 64px;
  height: 64px;
  display: inline-block;
}
.w-auto {
  width: auto!important;
}
.d-block {
  display: block!important;
}
.navbar-toggler {
  font-size: 1.21875rem;
  line-height: 1;
}

button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*, :after, :before {
  box-sizing: border-box;
}
.ml-8pt,  .mx-8pt {
  margin-left: 0.5rem!important;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
 .navbar-nav {
  padding-left: 0;
}
.navbar-nav {
  margin-bottom: 0;
}
 .nav {
  padding-left: 0;
}
.nav {
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
.flex {
  flex: 1 1 0%!important;
}
.justify-content-start {
  justify-content: flex-start!important;
}
.d-none {
  display: none!important;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
*, :after, :before {
  box-sizing: border-box;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.navbar-dark-pickled-bluewood .navbar-nav .nav-link {
  color: hsla(0, 0%, 100%, 0.651);
}
.navbar-nav{
  padding: 1%;
  font-size: 1rem;
  font-weight: 1000;
  position: relative;

}
.nav-item{
  padding: 5%;
  padding-left: 0%;
  display: flex;
  display: block;
  font-size: medium;
  font-size: 1rem;
  font-weight: 1000;
  position: relative;

}
.nav-link{
  padding: 5%;
  padding-right: 0%;
  font-size: 1rem;
  font-weight: 1000;
  position: relative;
}
